<form class="col-md-6">
  <input
    name="price"
    type="number"
    class="form-control"
    placeholder="Search by price"
    [(ngModel)]="priceMax"
  />
</form>
{{ priceMax }}
<br />
<div class="row">
  <div class="col-md-3" *ngFor="let item of list">
    <div
      class="card"
      style="width: 18rem"
      *ngIf="item.price <= priceMax || priceMax == null"
    >
      <img
        [ngStyle]="{ height: '300px', width: '300px', objectFit: 'cover' }"
        src="{{ item.picture }}"
        alt=""
        class="card-img-top"
      />
      <div class="card-body">
        <h5 class="card-title">{{ item.title }}</h5>
        <p class="card-text">
          {{ item.description }}
        </p>
        <p class="card-text">
          {{
            item.quantity === 0
              ? "Out of Stock"
              : "Left Items : " + item.quantity
          }}
        </p>

        <div class="row">
          <span
            [ngStyle]="{
              margin: '2px',
              display: 'block',
              width: '20px',
              height: '20px',
              cursor: 'pointer',
              backgroundColor: '#449c90'
            }"
          ></span
          ><span
            [ngStyle]="{
              margin: '2px',
              display: 'block',
              width: '20px',
              height: '20px',
              cursor: 'pointer',
              backgroundColor: 'black'
            }"
          ></span
          ><span
            [ngStyle]="{
              margin: '2px',
              display: 'block',
              width: '20px',
              height: '20px',
              cursor: 'pointer',
              border: '1px black solid',
              backgroundColor: 'white'
            }"
          ></span>
        </div>

        <p class="card-text">Price : {{ item.price }}</p>
        <button class="btn btn-sm btn-primary" (click)="incrementLike(item)">
          Like {{ item.nbrLikes }}
        </button>
        <button
          [ngStyle]="{ float: 'right' }"
          class="btn btn-sm btn-warning"
          (click)="buyProduct(item)"
          [disabled]="item.quantity === 0"
        >
          Buy
        </button>
      </div>
    </div>
  </div>
</div>
